@use "variables" as var;

.hero {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 4.875rem;
  margin-bottom: 9.375rem;

  @media (max-width: var.$mediaShift) {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    display: block;
    text-align: center;
  }

  $heroItemWidth: 50vw;
  &__text {
    padding-left: 11.8%;
    width: $heroItemWidth;
    font-size: 32px;

    @media (max-width: var.$mediaShift) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__title {
    font-size: 4rem;

    @media (max-width: var.$mediaShift) {
      font-size: 2rem;
    }
  }

  &__desc {
    margin-bottom: 2.25rem;

    padding-right: 5rem;
    @media (max-width: var.$mediaShift) {
      padding-right: 0;
    }
  }

  &__imgWrapper {
    width: $heroItemWidth;
    overflow: hidden;

    @media (max-width: var.$mediaShift) {
      width: calc(100% + 1.375rem);
      height: 340px;
    }
  }

  &__img {
    position: relative;
    transform: translateX(6.5rem);

    @media (max-width: var.$mediaShift) {
      height: 100%;
      transform: translateX(0);
    }
  }
}

#btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
