.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 11.4%;
  margin-top: 3rem;

  &__nav {
    display: flex;
    align-items: center;

    :not(:last-child) {
      margin-right: 1.875rem;
    }
  }

  .credsContainer {
    display: flex;
    justify-content: flex-end;
  }
}

#login {
  border: 1px solid white;
  color: hsl(0, 0%, 75%);
  height: 2.5rem;
  width: 6.625rem;
}

#signUp {
  height: 2.5rem;
  width: 6.625rem;
}
