@use "variables" as var;

.container {
  margin-top: -4.95rem;
  padding-bottom: 8.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;

  .loadingImg {
    height: 5rem;
    margin-top: 1.5rem;
  }

  .block {
    p {
      margin: auto 0rem;
    }

    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 69.25rem;
    border-radius: 0.8rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;

    &__right {
      color: var.$primaryText;
      display: flex;
    }
  }
}
