@use "variables" as var;

.wrapper {
  width: 24px;
  height: 24px;

  .icon {
    fill: white;
    transition: fill 300ms;
  }

  &:hover {
    cursor: pointer;
    .icon {
      fill: var.$primaryText;
    }
  }
}
